<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="CeusMedia/RSS">
      <directory>test</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="doc/Test/Coverage" lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="doc/Test/coverage.clover.xml"/>
    <log type="coverage-php" target="doc/Test/coverage.php.serialized"/>
    <log type="json" target="doc/Test/logfile.json"/>
    <log type="tap" target="doc/Test/logfile.tap"/>
    <log type="junit" target="doc/Test/logfile.xml" logIncompleteSkipped="false"/>
    <log type="testdox-html" target="doc/Test/testdox.html"/>
    <log type="testdox-text" target="doc/Test/testdox.txt"/>
  </logging>
</phpunit>
